# =============================================================================
# This document contains the configuration options for ActionApp
# It is only intended as a reference, changes to this document will not
# configure the application.
#
# The configs will be loaded from (or overridden by) the following files:
#   1. /etc/flight-action/flight-action.yaml
#   2. ~/.config/flight-action/flight-action.yaml
#   3. ~/.flight-action/config/flight-action.yaml
#   4. ~/.flight-action.yaml
# =============================================================================

flight_action:
  # =============================================================================
  # App Base Url [REQUIRED]
  # Specify the location where the API server is being hosted
  # =============================================================================
  base_url:

  # =============================================================================
  # JWT Token [REQUIRED]
  # Specify your authorization token to be used with the request. Contact your
  # system administrator to be issued with a token
  # =============================================================================
  jwt_token:

  # =============================================================================
  # Debugging Mode [Development Purposes Only]
  # Enable the development tools for debugging purposes
  # =============================================================================
  debug:

