{{#long_format}}

NODE:   {{ node.name }}
STATUS: {{ job.status }}
STDOUT:
{{{ job.stdout }}}

STDERR:
{{{ job.stderr }}}
{{/long_format}}
{{^long_format}}
{{ node.name }}: {{ job.status }}
{{/long_format}}
